<section class="posts">
    <ul class="actions fit">
        <li><a href="/planning" class="button fit">Planner</a></li>
    </ul>
    <ul class="actions fit">
        <li><a href="/edit-missions" class="button fit">Edit Missions</a></li>
    </ul>
</section>