<!-- Nav -->
  <!--<nav id="nav" style="background-color: black;">
    
  </nav> -->

<ul class="links">
    <!--<li class="active"><a href="">{{ currentPage }}</a></li>-->
    <li class="{{#if active_home}}active{{/if}}"><a href="/">Planning</a></li>
    <li class="{{#if active_mission}}active{{/if}}"><a href="missions">Missions</a></li>
</ul>
