<!-- Footer -->
<footer id="footer">
	<section class="contact">
		<section class="alt">
			<h3>Address</h3>
			<p>P.O. Box 419<br />
			State University, AR 72467</p>
		</section>
		<section>
			<h3><a href="/admin">Admin</a></h3>
		</section>
	</section>
</footer>