<!-- Post -->
<section class="post">
	<div class="image main">
		<div id="map" style="height: 30rem;"></div>
	</div>
	<h2 id="recent-coord"></h2>
	<ul class="actions">
		<li><a class="button map_update icon fa fa-map-marker">Historical Path</a></li>
	</ul>
</section>

<section class="posts">
	<article>
		<div id="alt-plot" class="fit" style="height: 30rem;"></div>
	</article>
	<article>
		<div id="vel-plot" class="fit" style="height: 30rem;"></div>
	</article>
</section>