<!-- 
	TODO:
	1. Make two live pages - one for countdown and other for streams/map
		a. Pull date for new mission and start timer for that date
		b. Change to live streams after countdown is over
		c. Twitter feed(?)
	2. Link AR Ballon Youtube instead of Corbin's
	3. Adjust styling
-->
<article class="post featured">
	<h1>Mission Live Stream</h1>
	<iframe width="560" height="349" src="https://www.youtube.com/embed/live_stream?channel=UC32wSiJJ0feluCeE_GxtL-g" frameborder="0" allowfullscreen></iframe>
	<div id="mapBlock">Map Placeholder</div>
</article>
<article class="post featured">
	<h1 id="clock"></h1>
</article>
