<!-- 
	TODO:
	1. Make two live pages - one for countdown and other for streams/map
		a. Pull date for new mission and start timer for that date
		b. Twitter feed(?)
	2. Link AR Ballon Youtube instead of Corbin's
	3. Adjust styling
-->
<article class="post featured">
	<h1>Mission Live Stream</h1>
	<div id="clockBlock">
		<h2>Next mission starts in:</h2>
		<h2 id="clock"></h2>
	</div>
</article>
