<!-- Post -->
<section class="posts">
	<article>
		<header>
			<h2>Astra Planner</h2>
		</header>
		<img class="image fit" style="height: 11rem" src="images/astra-planner-logo.png" alt="" />
		<p>{{mission.description}}</p>
		<ul class="actions">
			<li><a href="http://astra-planner.soton.ac.uk/" target="_blank" class="button">Go to Astra Planner</a></li>
		</ul>
	</article>
	<article>
		<header>
			<h2>Predict HabHub</h2>
		</header>
		<img class="image fit" style="height: 11rem" src="images/habhub-logo.jpg" alt="" />
		<p>{{mission.description}}</p>
		<ul class="actions">
			<li><a href="http://predict.habhub.org/" target="_blank" class="button">Go to Predict Habhub</a></li>
		</ul>
	</article>
</section>
